url: https://kubernetes.github.io/ingress-nginx
chart: ingress-nginx
version: 4.12.1
values:
  controller:
    service:
      type: NodePort
      nodePorts:
        http: 30080
        https: 30443
    ingressClassResource:
      default: true
